@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  /*Видаляємо всі відступи і межі*/
  margin: 0;
  /* - це звернення до всіх тегів на сторінці*/
  border: 0;
}

*,
*:before,
*:after {
  /*міняє підрахунок ширини блока так щоб було зручніше верстати*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

/*прибираємо лінії обводки в деяких браузерах*/

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

/*перечисляємо деякі хтмл теги і додаємо їм значення блок, що робить їх блочними*/

html,
body {
  /*прирівнюємо поведінку шрифтів і елементів для різних браузерів*/
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

/*наслідування сімейства шрифта*/

input::-ms-clear {
  display: none;
}

/*прибираєть хрестик в інтернет експлорері*/

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*обнуляємо всі заголовки*/

/*--------------------*/

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg-img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*--------------------*/

/*--------------------*/

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding: 31px 0px;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 110;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}

.header.hide {
  top: -35%;
  -webkit-transition: top 0.6s ease-in-out;
  -o-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out;
}

.header.blackBackground {
  background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-icon {
  display: none;
}

.menu-icon span,
.menu-icon:before,
.menu-icon:after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #ffffff;
}

.menu-icon:before,
.menu-icon:after {
  content: "";
}

.menu-icon:before {
  top: 0;
}

.menu-icon:after {
  bottom: 0;
}

.menu-icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.menu-icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu-icon._active::before {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0px, -50%);
      -ms-transform: rotate(45deg) translate(0px, -50%);
          transform: rotate(45deg) translate(0px, -50%);
}

.menu-icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, 50%);
      -ms-transform: rotate(-45deg) translate(0px, 50%);
          transform: rotate(-45deg) translate(0px, 50%);
}

.menu-body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #38383b;
  top: 100%;
  left: 0;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.menu-body._active {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.menu-body.top-active {
  top: 0%;
}

.menu-body-container {
  height: 100%;
  margin-top: 94px;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}

.header-logo-a {
  font-size: 32px;
  font-family: "Lora", serif;
  color: #ffffff;
}

.header-navigation-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 55px;
}

.header-navigation-li {
  margin-right: 28px;
}

.header-navigation-li:last-child {
  margin-right: 0px;
}

.header-navigation-a {
  font-size: 19px;
  font-family: "Vollkorn", serif;
  color: #ffffff;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-networks-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-networks-li {
  margin-right: 30px;
}

.header-networks-a {
  font-size: 19px;
  color: #ffffff;
}

.header-basket {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.header-basket-icon {
  font-size: 19px;
  color: #ffffff;
}

.header-basket-count {
  position: absolute;
  top: -80%;
  left: 120%;
}

.header-basket-count span {
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  color: #ffffff;
}

._anim-items {
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

._anim-items._active2 {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

._anim-initial {
  -webkit-transform: translate(0, 0%) !important;
      -ms-transform: translate(0, 0%) !important;
          transform: translate(0, 0%) !important;
  opacity: 1 !important;
}

.block1 {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block1-container {
  width: 1170px;
  margin: 0 auto;
}

.block1-center {
  text-align: center;
}

.block1-title {
  font-size: 60px;
  font-family: "Lora", serif;
  color: #ffffff;
  margin-bottom: 50px;
  line-height: 1.1;
}

.block1-button {
  padding: 0px 30px;
  height: 71px;
  font-size: 16px;
  font-family: "Lora", serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #a8a6a1;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.block1-button:hover {
  opacity: 0.7;
}

.block2 {
  background-color: #38383b;
  padding: 101px 0px;
}

.block2-container {
  width: 1170px;
  margin: 0 auto;
}

.block2-title {
  font-size: 45px;
  font-family: "Lora", serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 70px;
}

.block2-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block2-product {
  width: 32%;
}

.block2-product-img {
  padding-bottom: 133%;
}

.block2-product-img img {
  width: 100%;
  height: 100%;
}

.block2-product-info {
  text-align: center;
}

.block2-product-title {
  font-size: 35px;
  font-family: "Lora", serif;
  color: #ffffff;
  margin: 31px 0px;
}

.block2-product-button {
  padding: 0px 20px;
  height: 65px;
  font-size: 16px;
  font-family: "Lora", serif;
  color: #ffffff;
  background-color: #a8a6a1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block2-product-button:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.block3 {
  min-height: 100vh;
  background: url("../img/img-mainpage/block3-fullscreen.jpg") center/cover no-repeat fixed;
}

.block4 {
  background-color: #a8a6a1;
  padding: 100px 0px;
}

.block4-container {
  width: 1170px;
  margin: 0 auto;
}

.block4-title {
  font-size: 45px;
  font-family: "Lora", serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

.block4-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block4-item {
  width: 49%;
}

.block4-item-img {
  padding: 0px 0px 69% 0px;
}

.block4-item-img._anim-items2 {
  -webkit-transform: translate(0, 20%);
      -ms-transform: translate(0, 20%);
          transform: translate(0, 20%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.block4-item-img._anim-items2._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.block4-item-img img {
  width: 100%;
  height: 100%;
}

.block4-item-info {
  text-align: center;
  padding: 34px 17px 17px;
}

.block4-item-title {
  font-size: 35px;
  font-family: "Lora", serif;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 32px;
}

.block4-item-text {
  font-size: 22px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 34px;
  line-height: 1.3;
}

.block4-item-button {
  padding: 0px 20px;
  height: 65px;
  font-size: 16px;
  font-family: "Lora", serif;
  color: #a8a6a1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block4-item-button:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block5-container {
  padding: 131px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block5-content {
  text-align: center;
}

.block5-content.hide {
  display: none;
}

.block5-text {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 32px;
}

.block5-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block5-input-container {
  padding: 4px;
  border: 2px solid transparent;
}

.block5-input-container.input-focus {
  border: 2px solid #ffffff;
}

.block5-inputError {
  padding: 10px 10px;
  background-color: #fed9db;
  margin: 0 auto;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  display: none;
}

.block5-inputError._active {
  display: block;
}

.block5-inputError-text {
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  color: #f23d3d;
}

.block5-inputEmpty {
  width: 322px;
  padding: 10px 0px;
  background-color: #fed9db;
  margin: 0 auto;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  display: none;
}

.block5-inputEmpty._active {
  display: block;
}

.block5-inputEmpty-text {
  font-size: 15px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  color: #f23d3d;
}

.block5-input {
  width: 322px;
  height: 70px;
  padding: 0px 32px;
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}

.block5-button {
  padding: 0px 20px;
  height: 64px;
  margin-left: 10px;
  font-size: 22px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: #ffffff;
  background-color: #a8a6a1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block5-button:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block5-content2 {
  padding: 81px 0px;
}

.block5-content2.hide {
  display: none;
}

.block5-content2-text {
  font-size: 30px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.block5-content2-text:first-child {
  margin-bottom: 30px;
}

.block6 {
  background-color: #a8a6a1;
  padding: 101px 0px;
}

.block6-container {
  width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block6-img {
  width: 48%;
  max-width: 540px;
  padding: 0px 0px 59% 0px;
}

.block6-img img {
  width: 100%;
  height: 100%;
}

.block6-img._anim-items2 {
  -webkit-transform: translate(10%, 0%);
      -ms-transform: translate(10%, 0%);
          transform: translate(10%, 0%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.block6-img._anim-items2._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.block6-info {
  width: 48%;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
  position: relative;
}

.block6-info._anim-items2 {
  -webkit-transform: translate(-10%, 0%);
      -ms-transform: translate(-10%, 0%);
          transform: translate(-10%, 0%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.block6-info._anim-items2._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.block6-title {
  font-size: 45px;
  font-family: "Lora", serif;
  color: #ffffff;
  margin-bottom: 32px;
}

.block6-text {
  font-size: 22px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 32px;
}

.block6-button {
  display: inline;
  padding: 30px 20px;
  width: auto;
  font-size: 26px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: #a8a6a1;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.block6-button:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  background-color: #38383b;
  padding: 61px 0px;
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-location {
  font-size: 25px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  line-height: 1.3;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-cities {
  margin-bottom: 30px;
  margin-right: 50px;
}

.footer-city:not(:last-child) {
  margin-bottom: 10px;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-navigation:first-child {
  margin-right: 35px;
}

.footer-navigation-ul {
  text-align: right;
}

.footer-networks-ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-navigation-li {
  margin-bottom: 20px;
}

.footer-navigation-li:last-child {
  margin-bottom: 0px;
}

.footer-navigation-a {
  display: block;
  font-size: 19px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  color: #a8a6a1;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  -webkit-text-decoration-skip: auto;
          text-decoration-skip: auto;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.footer-navigation-a:hover {
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: currentColor;
          text-decoration-color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2em;
  -webkit-text-decoration-skip: auto;
          text-decoration-skip: auto;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

@media (max-width: 1200px) {
  .header-container {
    width: 95%;
  }

  .block1-container {
    width: 95%;
  }

  .block2-container {
    width: 95%;
  }

  .block4-container {
    width: 96%;
  }

  .block6-container {
    width: 95%;
  }

  .footer-container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .header-navigation-ul {
    margin-left: 10px;
  }

  .header-navigation-li {
    margin-right: 18px;
  }

  .header-networks-li {
    margin-right: 14px;
  }

  .block2-product-title {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header-navigation-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
  }

  .header-navigation-li {
    margin: 17px 0px;
  }

  .header-navigation-a {
    font-size: 25px;
  }

  .header-networks {
    margin: 17px 0px 48px 0px;
  }

  .header-networks-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-networks-li {
    margin-right: 30px;
  }

  .header-networks-li:last-child {
    margin-right: 0px;
  }

  .header-networks-a {
    font-size: 21px;
  }

  .block1-title {
    font-size: 43px;
  }

  .block2 {
    padding: 50px 0px;
  }

  .block2-title {
    margin-bottom: 35px;
  }

  .block2-product {
    width: 49%;
    margin-bottom: 40px;
  }

  .block2-product:last-child {
    margin-bottom: 0px;
  }

  .block4 {
    padding: 50px 0px;
  }

  .block4-title {
    margin-bottom: 30px;
  }

  .block4-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block4-item {
    width: 95%;
    margin-bottom: 40px;
  }

  .block4-item:last-child {
    margin-bottom: 0px;
  }

  .block5-container {
    padding: 65px 10px;
  }

  .block6-title {
    font-size: 35px;
  }

  .block6-button {
    font-size: 22px;
  }

  .footer-networks {
    margin: 17px 0 0px 0;
  }

  .footer-networks-ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 576px) {
  .block1-title {
    font-size: 31px;
  }

  .block2-title {
    font-size: 28px;
  }

  .block2-products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block2-product {
    width: 98%;
  }

  .block4-title {
    font-size: 30px;
  }

  .block4-item-title {
    font-size: 25px;
  }

  .block6 {
    padding: 50px 0px;
  }

  .block6-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block6-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 0px 0px 129% 0px;
  }

  .block6-img._anim-items2 {
    -webkit-transform: translate(1px, 0px);
        -ms-transform: translate(1px, 0px);
            transform: translate(1px, 0px);
  }

  .block6-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-left: 0;
    margin-bottom: 50px;
  }

  .footer-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-left {
    margin-bottom: 50px;
  }

  .footer-navigation-ul {
    text-align: left;
  }
}

@media (max-width: 450px) {
  .block5-input-container {
    margin-bottom: 26px;
  }

  .block5-button {
    margin-left: 0px;
  }

  .block6-title {
    font-size: 30px;
  }
}

@media (max-width: 350px) {
  .block1-title {
    font-size: 24px;
  }

  .block5-input-container {
    width: 100%;
  }

  .block5-inputError {
    width: 95%;
  }

  .block5-inputEmpty {
    width: 95%;
  }

  .block5-input {
    width: 100%;
  }
}

.webp .block3{ background: url(../img/block3-fullscreen.webp) center/cover no-repeat fixed; }
